<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAbout</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>

</head>
<body>
    <h1>ABOUT US</h1>
    <p>
        Selling Jordan shoes is a lucrative business venture, leveraging the global
         appeal of the Jordan brand, synonymous with style, performance, and
          exclusivity. As a business, offering authentic Jordan shoes requires strong
           supplier relationships to ensure genuine products, along with a clear 
           understanding of target audiences such as sneaker enthusiasts, athletes, and
            fashion-conscious buyers. Effective marketing, particularly on social media
             and e-commerce platforms, is essential to build brand presence and drive sales.
              Competitive pricing, offering rare editions, and maintaining excellent customer
               service further enhance business credentials in this competitive market.
    </p>
    <a href="/">Homepage</a>
    
</body>
</html>
